.column-lead_preview{
    width: 50%;
}

.column-taxonomy-li_lead_tags{
    width: 15%;
}

.column-created{
    width: 10%;
}

.lilm_field{
    width: 70%;
}

.importer-notice{
    border-left: 5px solid red;
    padding: 5px 10px;
    margin-bottom: 25px;
}