/*------------------------------------------------------------------------------------------*/
/* leadinjection Visual Composer Icons Sprite CSS */
/*------------------------------------------------------------------------------------------*/

.vc_element-icon.li-icon { background-image: url(../../img/li-vc-icons.png); }
.vc_element-icon.li-location-map { background-position: 0 0px; }
.vc_element-icon.li-icon-text-box { background-position: 0 -32px; }
.vc_element-icon.li-countdown { background-position: 0 -64px; }
.vc_element-icon.li-accordion { background-position: 0 -96px !important; }
.vc_element-icon.li-heading { background-position: 0 -128px !important; }
.vc_element-icon.li-pricing-table { background-position: 0 -160px !important; }
.vc_element-icon.li-onpage-nav { background-position: 0 -192px !important; }
.vc_element-icon.li-embed-video { background-position: 0 -224px !important; }
.vc_element-icon.li-number-counter { background-position: 0 -256px !important; }
.vc_element-icon.li-modal { background-position: 0 -288px !important; }
.vc_element-icon.li-textblock { background-position: 0 -320px !important; }
.vc_element-icon.li-single-icon { background-position: 0 -352px !important; }
.vc_element-icon.li-person-profile { background-position: 0 -384px !important; }
.vc_element-icon.li-testimonial-slider { background-position: 0 -416px !important; }
.vc_element-icon.li-button { background-position: 0 -448px !important; }
.vc_element-icon.li-image { background-position: 0 -480px !important; }
.vc_element-icon.li-icon-list { background-position: 0 -512px !important; }
.vc_element-icon.li-feature-icon { background-position: 0 -544px !important; }
.vc_element-icon.li-side-icon { background-position: 0 -576px !important; }
.vc_element-icon.li-rating-slider { background-position: 0 -608px !important; }
.vc_element-icon.li-tabs { background-position: 0 -640px !important; }