// 02. Header Navigation
/*------------------------------------------------------------------------------------------*/
/* 02. Header Navigation */
/*------------------------------------------------------------------------------------------*/

.header-nav{

  .navbar{
    background-color: $color0;
    margin-bottom: 0;
    border: none;
    min-height: 80px;
    border-bottom: 2px solid #f9f9f9;
    margin-right: -15px;

    .navbar-brand-container{
      width: auto;
      line-height: 80px;
      max-height: 80px;
      text-align: center;
      margin: 0;
      padding: 0;
      float: left;
      position: relative;

      &:before{
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: 0;
      }
    }

    .navbar-brand{
      margin-left: 0;
      padding: 0;
      height: auto;
      float: none;

      img{
        display: inline-block;
        vertical-align: middle;
        margin-top: -1px;
        max-height: 80px;
      }
    }

    ul{
      li{
        a{
          height: 80px;
          line-height: 45px;
          font-size: 16px;
          font-weight: 400;
          transition: all 0.2s ease-out;
        }

        a:hover{
          background-color: transparent;
          color: $link-color;
        }

        &.active{
          a{
            background-color: transparent;
            color: $link-color;
          }
          a:hover{
            background-color: transparent;
            color: $link-color;
          }
        }

        &.open{
          a{
            background-color: transparent;
            color: $link-color;
            line-height: 47px;
          }
          a:hover{
            background-color: transparent;
            color: $link-color;
          }
          a:focus{
            background-color: transparent;
            color: $link-color;
          }
        }

        .dropdown-menu{
          border-top: 4px solid $color1;
          border-right: none;
          border-bottom: none;
          border-left: none;
          padding-top: 0;
          padding-bottom: 0;
          margin-top: -4px;
          border-radius: 0;
          box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2);

          min-width: 280px;

          li{
            border-bottom: 1px solid rgba( $color1, .3 );

            a{
              color: $default-content-color;
              height: 47px;
              display: block;
              padding-top: 0;
              padding-bottom: 0;
              position: relative;

              &:after{
                font-family: FontAwesome;
                content: "\f0da";
                float: right;
                color: $color1;
                position: absolute;
                top: 0;
                right: 15px;
              }

              &:hover{
                background-color: $color1;
                color: $color0;

                &:after{
                  color: $color0;
                }
              }

            }

            &:last-of-type{
              border-bottom: none;
            }


          }
        }
      }
    }

  }

  .navbar-hidden {
    display: none;
  }
}


/* Header Navigation Button
-------------------------------------*/
nav{
  .btn{
    height: 45px;
    padding: 0;
    line-height: 45px;
    margin: 17px 15px 0 15px;


    a{
      margin-top: 0;
      padding: 0 28px !important;
      color: $color0 !important;
      line-height: 41px !important;
    }
  }
}


/* Animated Toggle “x” Icon
-------------------------------------*/
.navbar-default .navbar-toggle {
  border: none;
  background: transparent !important;
  margin-top: 26px;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    background-color: $color1;
    width: 22px;
    transition: all 0.2s ease-out;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

  &.collapsed {
    .top-bar {
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }
}




/* Navigation Media Queries
-------------------------------------*/
///* Large devices (desktops, 1200px and up)*/
//////////////////////////////////////////////////////////////////////////
//@media (max-width: 1200px) {  }

/* Medium devices (desktops, 992px and down) */
//////////////////////////////////////////////////////////////////////////
@media (max-width: 992px) {

  .header-nav .navbar {
    .nav{
      margin-right: 15px;
    }

    ul li a {
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

}

/* Small devices (768px and down) */
//////////////////////////////////////////////////////////////////////////
@media (max-width: 767px) {
  .navbar-toggle {
    margin-top: 23px;
    margin-right: 30px;
  }

  .header-nav{

    .navbar .nav{
      margin-right: 0;
    }

    .navbar .navbar-brand {
      margin-left: 15px;
    }

    .navbar ul li {
      border-bottom: 1px solid #efefef;

      &:last-of-type {
        border-bottom: none;
      }
    }

    .navbar ul li a {
      height: 40px;
      line-height: 40px !important;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 16px;
      padding-left: 30px;
    }
  }

  .header-nav .navbar ul li .dropdown-menu li a {
    line-height: 40px !important;
    padding-left: 50px;
    height: 40px;
  }

}

///* Extra Small devices (480px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 480px) {  }
