// 03. Blog
/*------------------------------------------------------------------------------------------*/
/* 03. Blog */
/*------------------------------------------------------------------------------------------*/

/* Default Posts and pages
-------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}


/* Blog Title
-------------------------------------*/
.page-title {
  background-color: $color1;
  padding: 70px 0 55px 0;
  margin-bottom: 85px;
  height: 180px;

  h1 {
    margin: 0;
    font-size: 30px;
    color: $color0;
    font-weight: 400;
  }

  .breadcrumbs {
    color: $color0;
    list-style: none;
    margin: 10px 0;
    overflow: hidden;
    font-weight: 400;
    float: right;
    font-size: 14px;

    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;

      a {
        color: $color0;
      }
    }

    .separator {
      font-size: 18px;
      font-weight: 100;
      color: #ccc;
    }
  }

}

/* Blog Post
-------------------------------------*/
.post {
  margin-bottom: 85px;
  &:last-of-type {
    margin-bottom: 0;
  }

  .featured-image {
    margin-bottom: 45px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .entry-title a {
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: $color3;
  }

  .entry-meta {

    .cat-links {
      margin-left: 15px;
      font-weight: 300;
      color: $color6;
      a {
        color: $color6;
      }
    }

  }

  .entry-content {
    p:last-of-type {
      margin-bottom: 0;
    }

    ul{
      margin-bottom: 25px;
    }
  }

  .entry-footer {
    margin-top: 25px;
    margin-bottom: 40px;
  }

}

/* Blog Edit Link
-------------------------------------*/

.edit-link {
  line-height: 1;
  font-size: 12px;
  padding: 3px 4px;
  border-radius: 5px;
  display: inline-block;
  background-color: red;
  margin: 0 5px;

  a {
    color: #fff !important;
    font-size: 12px;

  }
}

/* Blog Post Author
-------------------------------------*/
.author-post {
  padding: 17px 27px 10px;
  background-color: $color4;
  border-radius: 4px;

  .author-img img {
    float: left;
    width: 122px;
    height: 122px;
    border-radius: 61px;
    border: 1px solid $color1;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    margin-top: 5px;
  }

  .author-content {
    margin-left: 150px;

    h2 {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 10px;
      color: $default-content-color;

      small {
        font-weight: 300;
        font-size: 18px;
      }
    }

    p {
      font-size: 16px;
      line-height: 1.7;
    }
  }

}

/* Blog Pagination
-------------------------------------*/
.pagination {
  margin: 60px 0 0 0;

  .page-numbers {
    border-radius: $button-radius;
    height: 38px;
    display: inline-block;
    background-color: $color4;
    text-align: center;
    padding: 0 17px;
    line-height: 38px;
    color: $color1;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: $color1;
      color: $color0;
    }

    &.current {
      background-color: $color1;
      color: $color0;
    }
  }

  .prev:before {
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    content: "\f060";
    margin-right: 5px;
  }



  .next:after {
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    content: "\f061";
    margin-left: 5px;
  }

}

/* Blog Comments
-------------------------------------*/
.comments-area {
  margin-top: 60px;
  font-size: 16px;
  line-height: 1.7;

  h2 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: $color1;
    margin-bottom: 45px;
  }

  .comment-list {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;

    article {
      padding-bottom: 35px;
      border-bottom: 3px solid #ededed;
      margin-bottom: 35px;
      position: relative;
    }

    ol {
      list-style: none;
      margin-left: 105px;
      padding: 0;
    }

  }

  .comment-author {
    b {
      margin-left: 23px;
      a {
        color: $default-content-color;
      }
    }

    img {
      border: 1px solid $color1;
      display: inline-block;
      float: left;
      width: 82px;
      height: 82px;
      border-radius: 41px;
      overflow: hidden;
      text-align: center;
      vertical-align: middle;
      padding: 2px;
    }
  }

  .comment-metadata {
    margin-left: 105px;
    a {
      color: $default-content-color;
    }
  }

  .comment-awaiting-moderation {
    color: #fff;
    background-color: $lp-green;
    display: inline-block;
    padding: 0 10px;
    margin-left: 20px;
    font-size: 12px;
  }

  .comment-content {
    margin-left: 105px;

    a {
      word-wrap: break-word;
    }

    h4 {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 0;
    }

    span {
      font-size: 14px;
    }

    p {
      margin-top: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

  }

  .bypostauthor {
    display: block;
  }

  .comment-reply-link {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 2px;
    position: absolute;
    top: 15px;
    right: 0;
  }

  .comment-respond {
    h3 {
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 6px;
    }

    form {

      label {
        font-size: 14px;
        font-weight: 400;
        display: none;
      }

      input {
        box-shadow: 0px 1px 0px $color6;
        margin-bottom: 15px;
      }

      textarea {
        height: 143px;
        box-shadow: 0px 1px 0px $color6;
      }

      .form-actions {
        margin-top: 25px;
      }

      .btn-submit {
        margin-top: 15px;
        i {
          margin-right: 3px;
          margin-left: -2px;
        }
      }

      .form-info {
        font-size: 14px;
        margin-top: 17px;
      }

    }

  }

}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}



/* Blog Error 404 Page
-------------------------------------*/
.error-404 {
  margin-bottom: 85px;

  .container {
    border-bottom: 7px solid $color1;
    padding-bottom: 85px;
  }

  h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
  }

  h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    color: $color1;

    span {
      color: $default-content-color;
      font-weight: 300;
    }
  }

  .error-search {
    padding-top: 55px;
  }

  .error-number {
    color: #e7e7e7;
    font-weight: 900;
    font-size: 220px;
    border-right: 1px solid #ccc;
    height: 205px;
    line-height: 205px;
    margin-bottom: 60px;
    margin-top: 45px;
    margin-right: -17px;
  }

  form {
    position: relative;
    margin-top: 30px;
  }
  label {
    width: 100%;
  }
  .search-field {
    background-color: $color4;
    border: none;
    height: 45px;
    width: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    padding-left: 57px;
    font-weight: 300;
    font-size: 16px;
    outline: none;

    &:focus {
      border: 1px solid $color1;
    }
  }

  .search-submit {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: FontAwesome;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 24px;
    text-rendering: auto;
    display: block;
    background-color: $color1;
    border: none;
    position: absolute;
    top: 0;
    height: 45px;
    width: 45px;
    border-radius: 23px;
    color: $color0;
    font-size: 21px;
  }
}

/* Blog Search
-------------------------------------*/
.search-result-title {
  font-size: 30px;
  color: $default-content-color;
  border-bottom: 1px solid $color1;
  padding-bottom: 20px;
  span {
    color: $color1;
  }
}

.search {
  form {
    position: relative;
    margin-top: 30px;
  }
  label {
    width: 100%;
  }
  .search-field {
    background-color: $color4;
    border: none;
    height: 45px;
    width: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    padding-left: 57px;
    font-weight: 300;
    font-size: 16px;
    outline: none;

    &:focus {
      border: 1px solid $color1;
    }
  }

  .search-submit {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: FontAwesome;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 24px;
    text-rendering: auto;
    display: block;
    background-color: $color1;
    border: none;
    position: absolute;
    top: 0;
    height: 45px;
    width: 45px;
    border-radius: 23px;
    color: $color0;
    font-size: 21px;
  }
}

/* Blog Media Queries
-------------------------------------*/

/* Large devices (desktops, 1200px and up)*/
//////////////////////////////////////////////////////////////////////////
@media (max-width: 1200px) {
  .page-title {
    h1 {
      font-size: 26px;
    }

    .breadcrumbs {
      font-size: 11px;
    }

  }
}

///* Medium devices (desktops, 992px and down) */
//////////////////////////////////////////////////////////////////////////
@media (max-width: 992px) {

  .pagination {
    margin: 60px 0 85px 0;
  }

}

///* Small devices (768px and down) */
//////////////////////////////////////////////////////////////////////////
//@media (max-width: 768px) {  }

///* Extra Small devices (480px and down) */
//////////////////////////////////////////////////////////////////////////
// @media (max-width: 480px) {  }
