// 04. Widgets
/*------------------------------------------------------------------------------------------*/
/* 04. Widgets */
/*------------------------------------------------------------------------------------------*/

.widget{
  margin-bottom: 55px;

  &:first-of-type{
    h2{
      margin-top: 0;
    }
  }

  h2{
    font-size: 18px;
    color: $color1;
    font-weight: 400;
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
      border-bottom: 1px solid rgba(0,0,0, 0.10);

      a{
        //height: 40px;
        color: $default-content-color;
        font-weight: 400;
        font-size: 16px;
        display: block;
        padding: 7px 0 7px 25px;
        text-decoration: none;
        transition: all 0.2s ease-out;
        position: relative;

        &:before{
          -webkit-font-smoothing: antialiased;
          box-sizing: border-box;
          font-family: FontAwesome;
          font-stretch: normal;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          font-weight: normal;
          font-style: normal;
          display: inline-block;
          text-decoration: inherit;
          content: "\f061";
          color: $color1;
          margin-right: 10px;
          margin-top: -2px;
          font-size: 14px;
          position: absolute;
          left: 5px;
          top: 9px;
        }

        &:hover{
          background-color: rgba(0,0,0, 0.15);
          padding-left: 35px;
        }

      }
    }
  }

}

/* Select elements fit in widgets
-------------------------------------*/
.widget select {
  max-width: 100%;
}

/* Search Widget
-----------------------------------*/
.widget_search{
  form{
    position: relative;
  }
  label{
    width: 100%;
  }
  .search-field{
    background-color: $color4;
    border: none;
    height: 45px;
    width: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    padding-left: 57px;
    font-weight: 300;
    font-size: 16px;
    outline: none;

    &:focus{
      border: 1px solid $color1;
    }
  }

  .search-submit{
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: FontAwesome;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 24px;
    text-rendering: auto;
    display: block;
    background-color: $color1;
    border: none;
    position: absolute;
    top: 0;
    height: 45px;
    width: 45px;
    border-radius: 23px;
    color: $color0;
    font-size: 21px;
  }
}


.widget_tag_cloud{
  .tagcloud a{
    height: 40px;
    background-color: $color2;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 17px;
    font-size: 16px !important;
    margin-bottom: 5px;
    margin-right: 2px;
    font-weight: 300;
    text-decoration: none;
    color: $color0;


    &:hover{
      background-color: $color1;
    }
  }
}

/* Calendar Widget
-----------------------------------*/
#wp-calendar {
  width: 100%;

  caption {
    color: $color1;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 400;
  }

  thead th {
    padding-bottom: 10px;
    text-align: center;
  }

  tbody {
    color: #aaa;

    td {
      background: $color4;
      border: 1px solid #fff;
      text-align: center;
      padding:8px;

      a{
        color: $color3;
      }

      &:hover{
        background: $color0;
        color: $color1;

        a{
          color: $color1;
        }
      }
    }

    .pad {
      background: $color5;

      &:hover{
        background: $color5;
      }
    }
  }

  tfoot{
    #next {
      font-size: 10px;
      text-transform: uppercase;
      text-align: right;
    }

    #prev {
      font-size: 10px;
      text-transform: uppercase;
      padding-top: 10px;
    }
  }
}

/* Recent Comments Widget
-------------------------------------*/
.widget_recent_comments{
  ul li{
    padding: 7px 0 7px 25px;
    position: relative;

    &:before{
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
      font-family: FontAwesome;
      font-stretch: normal;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      content: "\f061";
      color: $color1;
      margin-right: 10px;
      margin-top: -2px;
      font-size: 14px;
      position: absolute;
      left: 5px;
      top: 9px;
    }

    a{
      color: $color1;
    }

    a:before{
      content: '';
    }
  }
}


///* Large devices (desktops, 1200px and up)*/
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 1200px) {  }
//
///* Medium devices (desktops, 992px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 992px) {  }

/* Small devices (768px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 768px) { }

///* Extra Small devices (480px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 480px) {  }
