// 05. Footer
/*------------------------------------------------------------------------------------------*/
/* 05. Footer */
/*------------------------------------------------------------------------------------------*/
.site-footer {
  h2 {
    margin-top: 0;
    color: $default-content-color;
  }

  p {
    margin-bottom: 15px;
  }

  .footer-row:first-of-type {
    margin-top: 85px;
  }

  .footer-widget-bar {
    padding: 85px 0 70px 0;
    background-color: $color4;

    .footer-widget .widget:last-of-type {
      margin-bottom: 0;
    }
  }

  .footer-copyright {
    background-color: $color2;
    padding: 26px 0;
    color: $color0;
  }

  .footer-social-icons {
    float: right;

    a {
      padding: 5px;
      margin: 0 3px;

      &:hover {
        color: $color0;
      }
    }
  }
}

//* Medium devices (desktops, 992px and down) */
//////////////////////////////////////////////////////////////////////////
//@media (max-width: 992px) {  }

///* Small devices (768px and down) */
//////////////////////////////////////////////////////////////////////////
@media (max-width: 768px) {
  .site-footer {
    .footer-copyright {
      text-align: center;
    }

    .footer-social-icons {
      float: none;
      margin-top: 20px;
    }
  }
}

///* Extra Small devices (480px and down) */
//////////////////////////////////////////////////////////////////////////
//@media (max-width: 480px) {  }