// 06. Buttons
/*------------------------------------------------------------------------------------------*/
/* 06. Buttons */
/*------------------------------------------------------------------------------------------*/

/* Button Wrapper
-------------------------------------*/
.btn-wrapper{
  &.inline{
    display: inline;
  }
  &.left{
    text-align: left;
  }
  &.center{
    text-align: center;
  }
  &.right{
    text-align: right;
  }
}

/* Button Styles
-------------------------------------*/
.btn {
  color: $color0;
  background-color: $color1;
  border-radius: 4px;
  margin: 0;
  &a{
    color:#ffffff;
  }

  &:hover {
    background-color: darken($color1, 7);
    color: $color0;
    transition: all 0.2s ease-out;
  }

  &:focus {
    background-color: darken($color1, 20);
    color: $color0;
  }

  &:visited {
    color: $color0;
  }

  &.btn-3d {
    border-bottom-color: darken($color1, 20);
  }

  &.btn-outline {
    border-color: $color1;
    color: $color1;

    &:hover {
      background-color: $color1;
      color: $color0;
    }
  }

  &.btn-sm {
    font-size: 14px;
    padding: 8px 22px 9px;
    height: 41px;

    &.btn-outline {
      border-width: 2px;
      border-style: solid;
    }

    &.btn-icon-left {
      padding-left: 15px;
      padding-right: 17px;
      i {
        font-size: 16px;
        margin-right: 10px;
      }
    }

    &.btn-icon-right {
      padding-right: 15px;
      padding-left: 17px;
      i {
        font-size: 16px;
        margin-left: 10px;
      }
    }

  }

  &.btn-md {
    font-size: 16px;
    padding: 9px 26px 10px;
    height: 45px;

    &.btn-outline {
      border-width: 2px;
      border-style: solid;
    }

    &.btn-icon-left {
      padding-left: 16px;
      padding-right: 18px;
      i {
        font-size: 18px;
        margin-right: 11px;
      }
    }

    &.btn-icon-right {
      padding-right: 16px;
      padding-left: 18px;
      i {
        font-size: 18px;
        margin-left: 11px;
      }
    }
  }

  &.btn-lg {
    font-size: 20px;
    padding: 10px 36px 11px;
    height: 51px;

    &.btn-outline {
      border-width: 2px;
      border-style: solid;
    }

    &.btn-icon-left {
      padding-left: 18px;
      padding-right: 20px;
      i {
        font-size: 22px;
        margin-right: 13px;
      }
    }

    &.btn-icon-right {
      padding-right: 18px;
      padding-left: 20px;
      i {
        font-size: 22px;
        margin-left: 13px;
      }
    }

  }

  &.btn-xl {
    font-size: 24px;
    padding: 13px 36px 14px;
    height: 60px;

    &.btn-outline {
      border-width: 3px;
      border-style: solid;
    }

    &.btn-icon-left {
      padding-left: 20px;
      padding-right: 20px;
      i {
        font-size: 26px;
        margin-right: 14px;
      }
    }

    &.btn-icon-right {
      padding-right: 20px;
      padding-left: 20px;
      i {
        font-size: 26px;
        margin-left: 14px;
      }
    }
  }

  &.btn-3d {
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }

  &.btn-round {
    border-radius: 50px
  }

  &.btn-square {
    border-radius: 0px
  }

  &.btn-outline {
    background-color: transparent;
  }

}


/* Button Colors
-------------------------------------*/
.btn-green {
  background-color: $lp-green;
  transition: all 0.5s ease-out;

  &:hover {
    background-color: darken($lp-green, 7);
    color: $lp-white;
    transition: all 0.2s ease-out;
  }

  &:focus {
    background-color: darken($lp-green, 20);
    color: $lp-white;
  }

  &.btn-3d {
    border-bottom-color: darken($lp-green, 15);
  }

  &.btn-outline {
    border-color: $lp-green;
    color: $lp-green;

    &:hover {
      background-color: $lp-green;
      color: $lp-white;
    }
  }
}

.btn-blue {
  background-color: $lp-blue;
  transition: all 0.5s ease-out;

  &:hover {
    background-color: darken(#48b0f7, 7);
    color: $lp-white;
    transition: all 0.2s ease-out;
  }

  &:focus {
    background-color: darken(#48b0f7, 20);
    color: $lp-white;
  }
  &.btn-3d {
    border-bottom-color: darken(#48b0f7, 20);
  }

  &.btn-outline {
    border-color: #48b0f7;
    color: #48b0f7;

    &:hover {
      background-color: #48b0f7;
      color: $lp-white;
    }
  }
}

.btn-red {
  background-color: $lp-red;
  transition: all 0.5s ease-out;

  &:hover {
    background-color: darken($lp-red, 7);
    color: $lp-white;
    transition: all 0.2s ease-out;
  }

  &:focus {
    background-color: darken($lp-red, 20);
    color: $lp-white;
  }
  &.btn-3d {
    border-bottom-color: darken($lp-red, 20);
  }

  &.btn-outline {
    border-color: $lp-red;
    color: $lp-red;

    &:hover {
      background-color: $lp-red;
      color: $lp-white;
    }
  }
}

.btn-yellow {
  background-color: $lp-yellow;
  transition: all 0.5s ease-out;

  &:hover {
    background-color: darken($lp-yellow, 7);
    color: $lp-white;
    transition: all 0.2s ease-out;
  }

  &:focus {
    background-color: darken($lp-yellow, 20);
    color: $lp-white;
  }
  &.btn-3d {
    border-bottom-color: darken($lp-yellow, 20);
  }

  &.btn-outline {
    border-color: $lp-yellow;
    color: $lp-yellow;

    &:hover {
      background-color: $lp-yellow;
      color: $lp-white;
    }
  }
}

.btn-purple {
  background-color: $lp-purple;
  transition: all 0.5s ease-out;

  &:hover {
    background-color: darken($lp-purple, 7);
    color: $lp-white;
    transition: all 0.2s ease-out;
  }

  &:focus {
    background-color: darken($lp-purple, 20);
    color: $lp-white;
  }
  &.btn-3d {
    border-bottom-color: darken($lp-purple, 20);
  }

  &.btn-outline {
    border-color: $lp-purple;
    color: $lp-purple;

    &:hover {
      background-color: $lp-purple;
      color: $lp-white;
    }
  }
}

.btn-gray {
  background-color: $lp-gray;
  transition: all 0.5s ease-out;

  &:hover {
    background-color: darken($lp-gray, 7);
    color: $lp-white;
    transition: all 0.2s ease-out;
  }

  &:focus {
    background-color: darken($lp-gray, 20);
    color: $lp-white;
  }
  &.btn-3d {
    border-bottom-color: darken($lp-gray, 10);
  }

  &.btn-outline {
    border-color: $lp-gray;
    color: $lp-gray;

    &:hover {
      background-color: $lp-gray;
      color: $lp-white;
    }
  }
}

.btn-white {
  background-color: $lp-white;
  transition: all 0.5s ease-out;
  color: $default-content-color;

  &:hover {
    background-color: darken(#efefef, 7);
    color: $default-content-color;
    transition: all 0.2s ease-out;
  }

  &:focus {
    background-color: darken(#efefef, 20);
    color: $lp-white;
  }
  &.btn-3d {
    border-bottom-color: darken(#efefef, 12);
  }

  &.btn-outline {
    border-color: $lp-white;
    color: $lp-white;

    &:hover {
      background-color: $lp-white;
      color: $default-content-color;
    }
  }
}

.btn-turquoise {
  background-color: $lp-turquoise;
  transition: all 0.5s ease-out;

  &:hover {
    background-color: darken($lp-turquoise, 7);
    color: $lp-white;
    transition: all 0.2s ease-out;
  }

  &:focus {
    background-color: darken($lp-turquoise, 20);
    color: $lp-white;
  }
  &.btn-3d {
    border-bottom-color: darken($lp-turquoise, 10);
  }

  &.btn-outline {
    border-color: $lp-turquoise;
    color: $lp-turquoise;

    &:hover {
      background-color: $lp-turquoise;
      color: $lp-white;
    }
  }
}

.btn-custom1, .btn-custom2, .btn-custom3, .btn-custom4 {
  background-color: $lp-green;
  transition: all 0.5s ease-out;

  &:hover {
    background-color: darken($lp-green, 7);
    color: $lp-white;
    transition: all 0.2s ease-out;
  }

  &:focus {
    background-color: darken($lp-green, 20);
    color: $lp-white;
  }

  &.btn-3d {
    border-bottom-color: darken($lp-green, 15);
  }

  &.btn-outline {
    border-color: $lp-green;
    color: $lp-green;

    &:hover {
      background-color: $lp-green;
      color: $lp-white;
    }
  }
}

///* Large devices (desktops, 1200px and up)*/
////////////////////////////////////////////////////////////////////////////
@media (max-width: 1200px) {

  .btn.btn-lg {
    font-size: 18px;
    padding: 10px 36px 11px;
    height: 48px;

    &.btn-icon-left {
      i {
        font-size: 20px;
        margin-right: 11px;
      }
    }

    &.btn-icon-right {
      i {
        font-size: 20px;
        margin-left: 11px;
      }
    }
  }

}

///* Medium devices (desktops, 992px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 992px) {  }
//
///* Small devices (768px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 768px) {  }
//
///* Extra Small devices (480px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 480px) {  }