// 07. Accordion
/*------------------------------------------------------------------------------------------*/
/* 07. Accordion */
/*------------------------------------------------------------------------------------------*/
.li-accordion{

  .panel{
    border-color: $color1;
  }

  .panel-heading{
    background-color: $color1;
    color: $color0;
    border-color: $color1;
    position: relative;
    padding: 13px;

    .panel-title{
      font-size: 18px;
      line-height: normal;
      color: $color0;
      a{
        text-decoration: none;
        i{
          font-size: 20px;
          position: absolute;
          right: 10px;
          top: 13px;
        }
      }
      a:hover{
        color: #fff;
      }
    }

  }

  .panel-body{
    border-top: none !important;
    padding: 25px;
    border-radius: 3px;
    background-color: #fff;
  }
}


/* Accordion Media Queries
-------------------------------------*/
/* Large devices (desktops, 1200px and up)*/
//////////////////////////////////////////////////////////////////////////
@media (max-width: 1200px) {

  .li-accordion{

    .panel-heading{
      padding: 13px / 100 * $scale1200;

      .panel-title{
        font-size: 18px / 100 * $scale1200;
        a{
          i{
            font-size: 20px / 100 * $scale1200;
            right: 10px / 100 * $scale1200;
            top: 13px / 100 * $scale1200;
          }
        }
      }


    }

    .panel-body{
      padding: 25px / 100 * $scale1200;
    }
  }

}

//* Medium devices (desktops, 992px and down) */
//////////////////////////////////////////////////////////////////////////
//@media (max-width: 992px) {  }

///* Small devices (768px and down) */
//////////////////////////////////////////////////////////////////////////
//@media (max-width: 768px) {  }

///* Extra Small devices (480px and down) */
//////////////////////////////////////////////////////////////////////////
//@media (max-width: 480px) {  }