// 12. Icon List
/*------------------------------------------------------------------------------------------*/
/* 12. Icon List */
/*------------------------------------------------------------------------------------------*/

.li-icon-list{

  li{
    line-height: 38px;
  }

  li i,
  li span{
    color: $color1;
    font-size: 22px;
    width: 25px;
    text-align: center;
    margin-right: 5px;
  }
}

/* Icon List Media Queries
-------------------------------------*/
/* Large devices (desktops, 1200px and up)*/
//////////////////////////////////////////////////////////////////////////
@media (max-width: 1200px) {
  .li-icon-list{

    li{
      line-height: 38px / 100 * $scale1200;
    }

    li i,
    li span{
      color: $color1;
      font-size: 22px / 100 * $scale1200;
      width: 25px / 100 * $scale1200;
      text-align: center;
      margin-right: 5px / 100 * $scale1200;
    }
  }
}

///* Medium devices (desktops, 992px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 992px) {  }
//
///* Small devices (768px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 768px) {  }
//
///* Extra Small devices (480px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 480px) {  }