// 14. Image
/*------------------------------------------------------------------------------------------*/
/* 14. Image */
/*------------------------------------------------------------------------------------------*/

.li-image{

  figure{
    background-color: rgba($color1, 0.75);
  }

  .img-responsive{
    display: inline-block;
  }
}


///* Large devices (desktops, 1200px and up)*/
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 1200px) {  }
///* Medium devices (desktops, 992px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 992px) {  }
//
///* Small devices (768px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 768px) {  }
//
///* Extra Small devices (480px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 480px) {  }