// 15. Modal
/*------------------------------------------------------------------------------------------*/
/* 15. Modal */
/*------------------------------------------------------------------------------------------*/

.li-modal{

  .container{
    width: 100%;
  }

  .modal-dialog{
    //margin-top: 1%;

    .modal-content{
      border-radius: 0px;

      .close{
        font-size: 30px;
        position: absolute;
        right: 10px;
        top: 3px;
        z-index: 10;
      }

      .modal-body{
        width: 100%;
        padding: 0;
        overflow: hidden;

        .vc_row{
          //padding-left: 0px !important;
          //padding-right: 0px !important;
        }

      }
    }

  }


}

///* Large devices (desktops, 1200px and up)*/
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 1200px) {  }
//
///* Medium devices (desktops, 992px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 992px) {  }
//
///* Small devices (768px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 768px) {  }
//
///* Extra Small devices (480px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 480px) {  }