// 16. Navbar
/*------------------------------------------------------------------------------------------*/
/* 16. Navbar */
/*------------------------------------------------------------------------------------------*/

.li-navbar{
  background-color: $color0;
  margin-bottom: 0;
  border: none;
  min-height: 80px;
  border-bottom: 2px solid #f9f9f9;

  .navbar-brand-container{
    width: auto;
    line-height: 80px;
    max-height: 80px;
    text-align: center;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;

    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: 0;
    }
  }

  .navbar-brand{
    //margin: 0;
    padding: 0;
    height: auto;
    float: none;

    img{
      display: inline-block;
      vertical-align: middle;
      margin-top: -1px;
      max-height: 80px;
    }
  }

  .nav{
    li{
      a{
        height: 80px;
        line-height: 45px;
        font-size: 16px;
      }

      a:hover{
        background-color: transparent;
        color: $link-color;
      }

      &.active{
        a{
          background-color: transparent;
          color: $link-color;
        }
        a:hover{
          background-color: transparent;
          color: $link-color;
        }
        a:focus{
          background-color: transparent;
          color: $link-color;
        }
      }

      &.open{
        a{
          background-color: transparent;
          color: $link-color;
        }
        a:hover{
          background-color: transparent;
          color: $link-color;
        }
        a:focus{
          background-color: transparent;
          color: $link-color;
        }
      }

      .dropdown-menu{
        border-top: 4px solid $color1;
        border-right: none;
        border-bottom: none;
        border-left: none;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: -4px;
        border-radius: 0;
        box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2);

        min-width: 280px;

        li{
          border-bottom: 1px solid rgba( $color1, .3 );

          a{
            color: $default-content-color;
            height: 47px;
            display: block;

            &:after{
              font-family: FontAwesome;
              content: "\f0da";
              float: right;
              color: $color1;
            }

            &:hover{
              background-color: $color1;
              color: $color0;

              &:after{
                color: $color0;
              }
            }

          }

          &:last-of-type{
            border-bottom: none;
          }


        }
      }
    }
  }

}

.navbar-hidden {
  display: none;
}



/* Navbar Button
-------------------------------------*/
.li-navbar{
  .btn{
    height: 45px;
    padding: 0;
    line-height: 45px;
    margin: 17px 15px 0 15px;


    a{
      margin-top: 0;
      padding: 0 28px;
      color: $color0 !important;
      line-height: 41px !important;
    }
  }
}



///* Large devices (desktops, 1200px and up)*/
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 1200px) {  }
//
///* Medium devices (desktops, 992px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 992px) {  }
//
///* Small devices (768px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 768px) {  }
//
///* Extra Small devices (480px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 480px) {  }