// 17. Number Counter
/*------------------------------------------------------------------------------------------*/
/* 17. Number Counter */
/*------------------------------------------------------------------------------------------*/

.number-counter{
  text-align: center;
  margin-bottom: 20px;

  .number-counter-value{
    font-size: 72px;
    font-weight: 600;

    line-height: 1;
  }

  .number-counter-label{
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 20px 0;
  }

  .number-counter-divider{
    background-color: $default-content-color;
    height: 3px;
    width: 20%;
    margin: 20px auto 0 auto;
  }

}


/* Number Counter Media Queries
-------------------------------------*/
/* Large devices (desktops, 1200px and up)*/
//////////////////////////////////////////////////////////////////////////
@media (max-width: 1200px) {
  .number-counter{
    margin-bottom: 20px / 100 * $scale1200;

    .number-counter-value{
      font-size: 72px / 100 * $scale1200;
    }

    .number-counter-label{
      font-size: 30px / 100 * $scale1200;
      margin: 10px / 100 * $scale1200 0 20px / 100 * $scale1200 0;
    }

    .number-counter-divider{
      margin: 20px / 100 * $scale1200 auto 0 auto;
    }

  }

}

///* Medium devices (desktops, 992px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 992px) {  }
//
///* Small devices (768px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 768px) {  }
//
///* Extra Small devices (480px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 480px) {  }