// 18. Person Profile
/*------------------------------------------------------------------------------------------*/
/* 18. Person Profile */
/*------------------------------------------------------------------------------------------*/

.person-profile {
  margin-top: -20px;

  .person-profile-image {
    float: left;
    img {
      width: 100%;
    }
  }

  .person-profile-content {
    margin-left: 291px;

    .person-profile-name {
      color: $color1;
      font-size: 20px;
      font-weight: 600;
      line-height: 33px;
      margin-bottom: 15px;

      small {
        font-size: 16px;
        font-weight: 600;
        line-height: 30px;
        display: block;
        color: $default-content-color;
      }
    }

    .person-profile-des {
      margin-bottom: 25px;
    }
  }

  .person-profile-social-links {
    margin-top: 25px;
    list-style: none;
    padding: 0;

    li {
      float: left;

      a {
        color: $color0;
        background-color: $color1;
        width: 42px;
        height: 42px;
        display: block;
        font-size: 22px;
        text-align: center;
        line-height: 40px;
        border-radius: 25px;
        margin-right: 10px;
        border: 2px solid transparent;
        transition: all 0.5s ease-out;

        &:hover {
          background-color: transparent;
          border: 2px solid $color1;
          color: $color1;
        }
      }

      &:last-of-type a {
        margin-right: 0;
      }
    }
  }
}


/* Person Profile Media Queries
-------------------------------------*/
/* Large devices (desktops, 1200px and up)*/
//////////////////////////////////////////////////////////////////////////
@media (max-width: 1200px) {
  .person-profile {
    margin-bottom: 85px / 100 * $scale1200;

    .person-profile-image {
      width: 200px;
    }

    .person-profile-content {
      margin-left: 225px;

      .person-profile-name {
        font-size: 20px / 100 * $scale1200;
        line-height: 33px / 100 * $scale1200;
        margin-bottom: 10px;

        small {
          font-size: 16px / 100 * $scale1200;
          line-height: 30px / 100 * $scale1200;
        }
      }

      .person-profile-des {
        //margin-bottom: 25px / 100 * $scale1200;
        font-size: 16px / 100 * $scale1200;
      }
      p{
        margin-bottom: 10px !important;
      }
    }

    .person-profile-social-links {
      margin-top: 15px;
      li {
        a {
          width: 30px;
          height: 30px;
          font-size: 16px;
          line-height: 28px;
          border-radius: 25px;
          margin-right: 10px / 100 * $scale1200;;

        }
      }
    }
  }

}

///* Medium devices (desktops, 992px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 992px) {  }

/* Small devices (768px and down) */
//////////////////////////////////////////////////////////////////////////
@media (max-width: 768px) {
  .person-profile {
    margin-top: 0;
    text-align: center;

    .person-profile-image {
      float: none;
      margin: 0 auto;
      width: 50%;
    }

    .person-profile-content {
      margin-left: 0;
    }

    .person-profile-social-links {
      text-align: center;
      padding: 0;
      li {
        display: inline-block;
        float: none;
        a {
          color: $color0;
          background-color: $color1;
          display: block;
        }
      }
    }
  }
}

///* Extra Small devices (480px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 480px) {  }