// 20. Rating Slider
/*------------------------------------------------------------------------------------------*/
/* 20. Rating Slider */
/*------------------------------------------------------------------------------------------*/

.li-rating-slider{
  text-align: center;
  padding-bottom: 45px;

  .stars{
    font-size: 27px;
    margin-bottom: 20px;
    color: $color1;

    .big{
      font-size: 36px;
    }
  }

  .review{
    font-size: 24px;
    line-height: 1.7;
    text-align: center;
  }


  .author{
    font-size: 18px;
    color: $color1;
    margin-top: 20px;
    text-align: center;
  }


  .carousel-indicators {
    position: absolute;
    bottom: auto;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
    margin-top: 25px;

    li {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 1px;
      text-indent: -999px;
      border: 1px solid #fff;
      border-radius: 10px;
      cursor: pointer;
      background-color: #ccc;
    }

    .active {
      margin: 0;
      width: 12px;
      height: 12px;
      background-color: #716d6e;
    }


  }

}


///* Large devices (desktops, 1200px and down)*/
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 1200px) {  }
//
///* Medium devices (desktops, 992px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 992px) {  }
//
///* Small devices (768px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 768px) {  }
//
///* Extra Small devices (480px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 480px) {  }