// 21. Side Icon Text
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/* 21. Side Icon Text */
/*------------------------------------------------------------------------------------------*/

.li-side-icon-text {
  margin-bottom: 40px;

  .li-side-icon-text-icon {
    width: 68px;
    height: 68px;
    color: $color1;
    font-size: 36px;
    text-align: center;
  }

  .li-side-icon-text-content {
    color: $default-content-color;
  }

  .li-side-icon-text-title {
    font-size: 20px;
    font-weight: 600;
    color: $default-title-color;
  }

  &.left {
    .li-side-icon-text-icon {
      float: left;
    }

    .li-side-icon-text-title {
      margin-left: 68px;
      margin-top: 0px;
    }

    .li-side-icon-text-content {
      margin-left: 68px;
    }
  }

  &.right {
    .li-side-icon-text-icon {
      float: right;
    }

    .li-side-icon-text-title {
      text-align: right;
      margin-right: 68px;
    }

    .li-side-icon-text-content {
      text-align: right;
      margin-right: 68px;
    }
  }
}


///* Large devices (desktops, 1200px and down)*/
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 1200px) {  }
//
///* Medium devices (desktops, 992px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 992px) {  }
//
///* Small devices (768px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 768px) {  }
//
///* Extra Small devices (480px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 480px) {  }