// 22. Tabs
/*------------------------------------------------------------------------------------------*/
/* 22. Tabs */
/*------------------------------------------------------------------------------------------*/

.li-tabs {

  .nav-tabs {
    border-bottom: none;

    li {
      background: transparent;
      padding: 1px 17px 3px 15px;
      margin: 0px -3px 0 -1px;
      position: relative;
      z-index: 1;
      height: 40px;
      font-size: 18px;

      &:hover a {
        color: #fff;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 100%;
        border-style: solid;
        border-color: $color0;
        border-width: 1px 0 1px 1px;
        border-radius: 7px 0 0 0;
        background-color: $color4;
        z-index: -1;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
        height: 100%;
        border-style: solid;
        border-color: $color0;
        border-width: 1px 1px 1px 0;
        border-radius: 0 7px 3px 0;
        transform: skewX(20deg);
        background-color: $color4;
        z-index: -1;
      }

      a {
        height: 40px;
        border: none;
        color: $default-content-color;

        &:hover {
          border: none;
          background-color: transparent;
          color: $color0;
        }
      }

      &.active {
        z-index: 10;
        &:before,
        &:after {
          background-color: $color1;
          border-bottom-color: $color1;
        }

        a {
          color: $color0;
          z-index: 10;
          border: none;
          background-color: transparent;
        }
      }

      &:not([class='active']):hover::before,
      &:not([class='active']):hover::after {
        background-color: $color1;

        color: #fff !important;
      }

    }

  }

  .tab-content {
    border: 1px solid $color1;
    padding: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

}

/* Tabs Media Queries
-------------------------------------*/
/* Large devices (desktops, 1200px and up)*/
//////////////////////////////////////////////////////////////////////////
@media (max-width: 1200px) {
  body {
    font-size: 16px / 100 * $scale1200;
  }
  .li-tabs {

    .nav-tabs {
      border-bottom: none;

      li {
        font-size: 18px / 100 * $scale1200;
        padding: 0 13px 1px 11px;
      }
    }
  }
}

///* Medium devices (desktops, 992px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 992px) {  }
//
///* Small devices (768px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 768px) {  }
//
///* Extra Small devices (480px and down) */
////////////////////////////////////////////////////////////////////////////
//@media (max-width: 480px) {  }