// 23. Textblock
/*------------------------------------------------------------------------------------------*/
/* 23. Textblock */
/*------------------------------------------------------------------------------------------*/

.li-textblock{
  p:last-of-type{
    margin-bottom: 0;
  }
}