// Helper Classes
/*------------------------------------------------------------------------------------------*/


/* Font Weights
-------------------------------------*/

.fw-light{
  font-weight: 300;
}
.fw-normal{
  font-weight: 400;
}
.fw-bold{
  font-weight: 700;
}

/* Alignments
-------------------------------------*/
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.inline {
  display: inline-block;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Margins
-------------------------------------*/
.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}


/* Paddings
-------------------------------------*/
.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt25 {
  padding-top: 25px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pr25 {
  padding-right: 25px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb25 {
  padding-bottom: 25px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl25 {
  padding-left: 25px;
}

/* Hidden Elements
-------------------------------------*/
.of-hidden {
  overflow: hidden;
}

.li-animate {
  visibility: hidden;
}

/* Accessibility
-------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}



/* Medium devices (desktops, 992px and down) */
////////////////////////////////////////////////////////////////////////////
@media (max-width: 992px) {

  /* Display block on Small devices
  -------------------------------------*/
  .block-md{
    display: block;
    width: 100%;
  }

  .fluid-on-sm{
    width: 100%;
  }

}


/* Small devices (768px and down) */
//////////////////////////////////////////////////////////////////////////
@media (max-width: 768px) {

  /* Display block on Small devices
  -------------------------------------*/
  .block-sm{
    display: block;
    width: 100%;
  }


  /* Text Center on Small devices
  -------------------------------------*/
  .t-center-sm{
    text-align: center;
  }

}
